<div class="modal-header">
    <h3 class="modal-title text-center"><span class="striked-text">da Vinci</span> You! Be inspired!</h3>
</div>

<div class="modal-body text-center row">
    <div class="col-sm-5">
        <div class="jimbotron">
            <canvas id="avatar"
                    height="373"
                    width="342">
                no canvas in your browser *sad smile*
            </canvas>
        </div>
    </div>
    <div class="col-sm-7">
        <h3>Elements are here</h3>
        <avatar-components components="components"></avatar-components>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Set avatar</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>