<h3>{{personList.personListTitle}}</h3>

<div class="container">
    <div class="list-group">
        <person-list-header>
            <div ng-class="{'col-sm-6': personList.personObjType === 'mentor'}">
                {{personList.mExtraHeader}}
            </div>

            <div ng-if="personList.personObjType === 'mentor'"
                 class="col-sm-6">
                Votes
            </div>
        </person-list-header>

        <person ng-repeat="person in personList.persons"
                person-obj="person"
                m-link-group="{{personList.mLinkGroup}}"
                person-obj-type="{{personList.personObjType}}"
                m-extra-value="personList.mExtraValue(person)">

            <div ng-class="{'col-sm-6': personList.personObjType === 'mentor'}">
                {{ personList.mExtraValue(person) }}
            </div>

            <div ng-if="personList.personObjType === 'mentor'"
                 class="col-sm-6">
                <voting person-id="{{person._id}}"></voting>
            </div>

        </person>

    </div>
</div>